<section id="about">
  <div class="container">
    <div class="frame">
      <div class="about-content">
        <div class="about-unit col-6">
          <span class="ion-arrow-graph-up-right"></span>
          <div class="about-text">
            <h3>A fantastic Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, commodi accusantium voluptates officia laudantium dicta tempora, quisquam odit sequi nemo reprehenderit in molestiae ratione atque. Earum veniam nihil mollitia quod.</p>
          </div>
        </div>
        <div class="about-unit col-6">
          <span class="ion-person-stalker"></span>
          <div class="about-text">
            <h3>A fantastic Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, commodi accusantium voluptates officia laudantium dicta tempora, quisquam odit sequi nemo reprehenderit in molestiae ratione atque. Earum veniam nihil mollitia quod.</p>
          </div>
        </div>
        <div class="about-unit col-6">
          <span class="ion-code-working"></span>
          <div class="about-text">
            <h3>A fantastic Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, commodi accusantium voluptates officia laudantium dicta tempora, quisquam odit sequi nemo reprehenderit in molestiae ratione atque. Earum veniam nihil mollitia quod.</p>
          </div>
        </div>
        <div class="about-unit col-6">
          <span class="ion-stats-bars"></span>
          <div class="about-text">
            <h3>A fantastic Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, commodi accusantium voluptates officia laudantium dicta tempora, quisquam odit sequi nemo reprehenderit in molestiae ratione atque. Earum veniam nihil mollitia quod.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
