<section id="clients">
  <div class="container">
    <div class="frame">
      <div class="icons">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
        <img src="assets/img/invision-logo-pink.png" class="col-2" alt="">
      </div>
    </div>
  </div>
</section>
