<section id="clients">
  <div class="container">
    <div class="frame">
      <div class="icons">
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
        <span class="ion-arrow-graph-up-right col-2"></span>
      </div>
    </div>
  </div>
</section>
