<section id="contact">
  <div class="container">
    <div class="frame">
      <h1>Design Better. Faster. Together</h1>
      <p>Start powering your design process with InVision Enterprise edition today!</p>
      <div class="contact-form col-6 push-3">
        <form action="">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="email" placeholder="Email">
          <input type="text" name="phone" placeholder="Phone Number">
          <input type="text" nam="company" placeholder="Company Name">
          <input type="text" name"howBig" placeholder="Company Size">
          <input type="submit">
        </form>
        <p>All Fields Required.</p>
      </div>
    </div>
  </div>
</section>
