<footer>
  <div class="container">
    <div class="frame">
      <div class="footer-content">
        <div class="logo col-2">
          <img src="http://fillmurray.com/80/80" alt="">
          <p>&copy InVision 2015</p>
        </div>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
