<footer>
  <div class="container">
    <div class="frame">
      <div class="footer-content">
        <div class="logo col-2">
          <ul>
            <li>Get In Touch</li>
            <a href=""><li>Contact Us</li></a>
            <li>
              <a href=""><span class="ion-social-dribbble"></span></a>
              <a href=""><span class="ion-social-facebook"></span></a>
              <a href=""><span class="ion-social-linkedin"></span></a>
              <a href=""><span class="ion-social-youtube"></span></a>
            </li>
          </ul>
          <img src="assets/img/invision-logo-pink.png" alt="">
          <p>&copy InVision 2015</p>
        </div>
        <ul class="col-2">
          <li>Learn More</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>About</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Support</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>More Features</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
        <ul class="col-2">
          <li>Extras</li>
          <a href=""><li>Tour</li></a>
          <a href=""><li>Customers</li></a>
          <a href=""><li>Pricing & Plans</li></a>
          <a href=""><li>New Features</li></a>
          <a href=""><li>Educations</li></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
