<section id="testimonials">
  <div class="picture col-5"></div>
  <div class="testimonial col-4 push-1">
    <h3>A Heading is Here</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. "</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quasi obcaecati aliquam alias, et numquam tempore maxime! Quidem maiores, quos inventore eaque natus, minus, alias eos sapiente obcaecati possimus accusantium.</p>
    <div class="testimonial-pics">
      {% for image in site.data.settings.testimonials %}
      <div class="pic" data-position="{{image.position}}" data-background="{{image.image}}" data-title="{{image.title}}" style="background: url(assets/img/{{image.image}}.jpg) {{image.position}} no-repeat;background-size:cover;"></div>
      {% endfor %}
    </div>
    <h3 class="test-title">Superman</h3>
    <p>CEO/Founder - Twitter</p>
  </div>
</section>
