<section id="testimonials">
  <div class="picture col-5"></div>
  <div class="testimonial col-4 push-1">
    <h3>A Heading is Here</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam rerum, eos accusantium aut, iure aspernatur a repudiandae autem omnis incidunt, nesciunt facere hic perferendis. Cum rerum commodi debitis praesentium at?"</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quasi obcaecati aliquam alias, et numquam tempore maxime! Quidem maiores, quos inventore eaque natus, minus, alias eos sapiente obcaecati possimus accusantium.</p>
    <div class="testimonial-pics">
      <a href=""><img class="active" src="http://fillmurray.com/50/50" alt=""></a>
      <a href=""><img src="http://fillmurray.com/50/50" alt=""></a>
      <a href=""><img src="http://fillmurray.com/50/50" alt=""></a>
      <a href=""><img src="http://fillmurray.com/50/50" alt=""></a>
      <a href=""><img src="http://fillmurray.com/50/50" alt=""></a>
    </div>
  </div>
</section>
